/* COLORS */
$layout-gray-10: rgb(17, 21, 28);
$layout-gray-9: rgb(21, 27, 37);
$layout-gray-8: rgb(25, 33, 46);
$layout-gray-7: rgb(33, 45, 64);
$layout-gray-6: rgb(39, 50, 70);
$layout-gray-5: rgb(44, 55, 75);
$layout-gray-4: rgb(49, 60, 81);
$layout-gray-3: rgb(52, 63, 84);
$layout-gray-2: rgb(54, 65, 86);
$layout-gray-1: rgb(72, 82, 101);
$accent-gray-1: rgb(220, 232, 255);
$accent-gray-2: rgb(181, 206, 255);
$accent-gray-3: rgb(185, 196, 218);
$accent-gray-4: rgb(161 172 181);
$accent-gray-5: rgb(99, 118, 143);
$accent-green-1: rgb(14, 173, 105);
$accent-red-1: rgb(255, 56, 56);
$accent-blue-1: rgb(0 152 255);
$accent-yellow-1: rgb(244, 199, 37);
$data-green: rgb(103, 255, 145);
$data-red: rgb(255, 90, 88);
$data-blue: rgb(101, 193, 255);
$data-purple: rgb(152, 103, 255);
$data-yellow: rgb(255, 227, 103);
