/* ===================================================
============ STYLING COMMON TO EVERY PAGE ============
=================================================== */

@use "partials/variables" as v;
@use "partials/utility" as u;
@use "partials/toastify";
@use "partials/header";

/* GENERAL */
body {
  margin: 0;
  background-color: v.$layout-gray-10;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}
.content-container {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 6px;
  padding-right: 6px;
}
main.content-container {
  padding-bottom: 30px;
}

/* TABLES - GENERAL */
table {
  width: 100%;
}
table,
td {
  border-collapse: collapse;
}

/* TABLES - VERTICAL */
.table--vertical {
  border-collapse: separate;
  border-spacing: 0 5px;

  th,
  td {
    white-space: nowrap;
  }
  th {
    @extend .label;
    text-align: left;
    padding: 0 6px;
  }
  td {
    @extend .text--small;
  }
}

/* LABELS */
label,
.label {
  font-size: 12px;
  font-weight: 700;
  color: v.$accent-gray-3;
}

/* INPUTS */
.select,
.textbox {
  height: 31px;
  padding: 0 8px;
  box-sizing: border-box;
  border: 1px solid #2c374b;
  border-radius: 3px;
  background-color: v.$layout-gray-4;
  color: rgb(255, 255, 255);
}
textarea {
  width: 100%;
  box-sizing: border-box;
}

/* BUTTONS */
.btn {
  background-color: v.$layout-gray-4;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 3px;
}
.btn:disabled {
  background-color: v.$layout-gray-7;
  color: v.$accent-gray-3;
  cursor: default;
}
.btn--icon {
  height: 15px;
  width: 15px;
  background: none;
  padding: 0;
}
.btn--link {
  background: none;
  border: none;
  height: auto;
  width: auto;
  padding: 0;
  color: v.$accent-blue-1;
}
.btn--green {
  background-color: v.$accent-green-1;
}
.btn--red {
  background-color: v.$accent-red-1;
}
.btn--blue {
  background-color: v.$accent-blue-1;
}

@media screen and (max-width: 814px) {
  /* GENERAL */
  main.content-container {
    padding-bottom: 20px;
  }

  /* TABLES - VERTICAL */
  .table--vertical,
  .table--vertical thead,
  .table--vertical tbody,
  .table--vertical th,
  .table--vertical td,
  .table--vertical tr {
    display: block;
  }
  .table--vertical thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table--vertical td {
    height: 24px;
    position: relative;
    padding-left: 50% !important;
    box-sizing: border-box;
    border-bottom: 1px solid v.$layout-gray-1;
    border-right: none !important;
  }
  .table--vertical td:last-child {
    border-bottom: none;
  }
  .table--vertical td::before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 700;
    color: v.$accent-gray-3;
  }
  .table--vertical tbody tr {
    margin-bottom: 5px;
  }

  /* INPUTS */
  .select,
  .textbox {
    height: 26px;
  }

  /* BUTTONS */
  .btn {
    font-size: 12px;
    padding: 6px 16px;
  }
}

@media screen and (max-width: 480px) {
  /* TABLES - VERTICAL */
  .table--vertical td {
    height: 19px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
  }

  /* LABELS */
  label,
  .label {
    font-size: 11px;
  }
}
